h1 {
    text-align: center;
    font-family: Georgia;
    font-style: italic;
font-size: 30px;
}

h3 {
    font-size: 25px;
    font-weight: bold;
    font-family: 'Sans-serif';
}

h5 {
    text-align: center;
    font-size: 18px;
    font-family: 'Sans-serif';
}

h5 > span {
    color: grey;
}

body {
    background-color: hsla(202, 69%, 72%, 0.87);
    color: white;
    border: solid hsla(115, 51%, 53%, 0.692);
    padding: 5%;
    padding-top: 3%;
    padding-bottom: 7%;
    border-width: thick;
    margin-top: 3em;
    margin-left: 2.5em;
    margin-right: 2.5em;
    position: relative;
}

p {
    font-size: 18px;
    font-family: 'Sans-serif';
}

a {
    color: hsla(115, 51%, 53%, 0.692);
}

.social-media {
    text-align: center;
}

.social-media > span {
    color: grey;
}

img {
    width: 32%;
    float: right;
}