body {
    background-color: hsla(202, 69%, 72%, 0.87);
    color: white;
    border: solid hsla(115, 51%, 53%, 0.692);
    padding: 5%;
    padding-top: 3%;
    padding-bottom: 7%;
    border-width: thick;
    margin-top: 3em;
    margin-left: 2.5em;
    margin-right: 2.5em;
    position: relative;
}


h1 {
    text-align: center;
    font-weight: normal;
    font-family: Georgia, serif;
    font-style: italic;
    font-size: 30px;
    margin-top: 0;
}

h3 {
    font-size: 25px;
    font-weight: bold;
    font-family: 'Sans-serif';
}

h5 {
    text-align: center;
    font-size: 18px;
    font-family: 'Sans-serif';
}

h5 > span {
    color: grey;
}


p {
    font-size: 18px;
    font-family: 'Sans-serif';
}

a {
    font-weight: bold;
    color: #00CC99;
}

.social-media {
    text-align: center;
}

.social-media > span {
    color: grey;
}

img {
    width: 32%;
    float: right;
    margin-left: 20px;
    margin-bottom: 20px;
    padding: 5px;
    height: 300px;
}